#training-header {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4ch;
    padding-left: 5%;
    margin-top: 8vh;
}

.t-left {
    display: flex;
    flex-direction: column;
}

.t1-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5ch;
    font-weight: 500;
    margin-left: 5%;
}
.t2-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3ch;
    font-weight: 400;
    margin: 3vh 0 5vh 5%;
}

.t-right  img{
    width: 20vw;
    height: 20vw;
    border-radius: 15px;
}

@media (max-width: 650px) {
    .t-right  img{
        width: 70vw;
        height: 60vw;
    }
}

@media (max-width: 500) {
    .t1-name {
        font-family: 'Courier New', Courier, monospace;
        font-size: 3ch;
        font-weight: 500;
    }
}